.header {
    background-color: #232f3e;
    height: 80px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__left-pane {
    position: relative;
    float: left;
    width: 23%;
    display: inline-block;
    padding-left: 8px;
}

.header__mid-pane {
    position: relative;
    width: 46%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.header__right-pane {
    position: relative;
    float: right;
    width: 31%;
    display: inline-block;
    padding-right: 4px;
    border: dashed;
    border-color: aliceblue;
}

.header__logo {
    background: transparent no-repeat top left;
    float: left;
    display: block;
    width: 42%;
    align-items: center;
}

.header__link {
    color: #ffffff;
    text-decoration: none;
}

.header__link:hover {
    color:antiquewhite;
    text-decoration: none;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    text-align: center;
}

.header__optionLineOne {
    font-size: 11px;
}

.header__optionLineTwo {
    font-size: 15px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.header__search {
    display: flex;
    flex: 1;
}

.header__search-label {
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 45px;
    line-height: 40px;
    pointer-events: none;
    font-weight: bold;
    border-radius: 4px 0 0 4px;
    border: 1px solid #cdcdcd;
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 15px;
    text-align: center;
    align-content: center;
}

.header__search-select {
    height: 40px;
    width: 45px;
    position: relative;
    border: 1px solid #333;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 15px;
}

.header__search-input {
    width: 90%;
    border: none;
    height: 40px;
    padding: 5px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 15px;
    color: #111;
    outline: none;
    border-radius: 0 0 0 0;
}

.header__search-button {
    background-color: #ffc100;
    height: 40px;
    width: 45px;
    border-radius: 0 4px 4px 0;
}

.header__nav-option1 {
    display: flex;
    justify-content: space-evenly;
    width: 6%;
}

.header__nav-option2 {
    display: flex;
    justify-content: space-evenly;
    width: 11%;
}

.header__nav-option3 {
    display: flex;
    justify-content: space-evenly;
    width: 8%;
}

.header__optionBasket {
    display: inline;
    position: relative;
    align-items: center;
}

.header__cart {
    height: 40px;
    background: transparent;
    padding: 7px 20px 7px 6px;
    position: relative;
}

.header__basketCount {
    position: absolute;
    color: #f08804;
    font-size: 16px;
    font-weight: 700;
    margin-left: 22px;
}
