.banner {
    position: relative;
    height:320px;
}

.arrow_left {
    position: absolute;
    top: 120px;
    left: 16px;
    color: #ffffff;
    opacity: 0.4;
}

.arrow_right {
    position: absolute;
    top: 120px;
    right: 16px;
    color: #ffffff;
    opacity: 0.4;
}
