.optionBasket {
    display: inline;
    position: relative;
    align-items: center;
}

.cart {
    height: 40px;
    background: transparent;
    padding: 7px 20px 7px 6px;
    position: relative;
}

.basketCount {
    position: absolute;
    color: #f08804;
    font-size: 16px;
    font-weight: 700;
    margin-left: 18px;
}
