.optionBasket {
    align-items: center;
}

.cart {
    height: 30px;
    width: 40px;
    background: transparent;
    position: relative;
}

.basketCount {
    position: absolute;
    top: 30%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: #f08804;
    font-size: 16px;
    font-weight: 700;
}
